# ── LLM & LangChain ───────────────────────────────────────────────────────────
./shared
python-json-logger
langchain
langchain-core
langchain-openai
langchain-google-genai
openai

# ── Kafka ─────────────────────────────────────────────────────────────────────
kafka-python-ng
python-dotenv

# ── Utils ─────────────────────────────────────────────────────────────────────
pydantic
psycopg2-binary
requests
